venv/
.venv/
__pycache__/
*.pyc
.pytest_cache/
.idea/
*.log
.env

data/raw/videos/*
!data/raw/videos/.gitkeep

outputs/processed_videos/*
!outputs/processed_videos/.gitkeep
outputs/frames/*
!outputs/frames/.gitkeep
outputs/screenshots/*
!outputs/screenshots/.gitkeep
outputs/reports/*
!outputs/reports/.gitkeep

database/*.db
!database/.gitkeep

*.pt
models/*.pt
!models/README.md
