venv/
__pycache__/
*.pyc
.pytest_cache/
*.log
.env

data/raw/videos/*
!data/raw/videos/.gitkeep

outputs/processed_videos/*
!outputs/processed_videos/.gitkeep
outputs/frames/*
!outputs/frames/.gitkeep
outputs/screenshots/*
!outputs/screenshots/.gitkeep

database/*.db
!database/.gitkeep

models/*.pt
!models/README.md
